In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv(r"./data/Alphabets_data.csv")
df.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [3]:
df.nunique()

letter    26
xbox      16
ybox      16
width     16
height    16
onpix     16
xbar      16
ybar      16
x2bar     16
y2bar     16
xybar     16
x2ybar    16
xy2bar    16
xedge     16
xedgey    16
yedge     16
yedgex    16
dtype: int64

In [7]:
df.isnull().sum()

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [11]:
df.describe(include='all').T

          count unique  top freq     mean       std  min  25%  50%   75%   max
letter    20000     26    U  813      NaN       NaN  NaN  NaN  NaN   NaN   NaN
xbox    20000.0    NaN  NaN  NaN  4.02355  1.913212  0.0  3.0  4.0   5.0  15.0
ybox    20000.0    NaN  NaN  NaN   7.0355  3.304555  0.0  5.0  7.0   9.0  15.0
width   20000.0    NaN  NaN  NaN  5.12185  2.014573  0.0  4.0  5.0   6.0  15.0
height  20000.0    NaN  NaN  NaN  5.37245   2.26139  0.0  4.0  6.0   7.0  15.0
onpix   20000.0    NaN  NaN  NaN  3.50585  2.190458  0.0  2.0  3.0   5.0  15.0
xbar    20000.0    NaN  NaN  NaN   6.8976  2.026035  0.0  6.0  7.0   8.0  15.0
ybar    20000.0    NaN  NaN  NaN  7.50045  2.325354  0.0  6.0  7.0   9.0  15.0
x2bar   20000.0    NaN  NaN  NaN   4.6286  2.699968  0.0  3.0  4.0   6.0  15.0
y2bar   20000.0    NaN  NaN  NaN  5.17865  2.380823  0.0  4.0  5.0   7.0  15.0
xybar   20000.0    NaN  NaN  NaN  8.28205  2.488475  0.0  7.0  8.0  10.0  15.0
x2ybar  20000.0    NaN  NaN  NaN    6.454   2.63107  0.0  5.0  6.0   8.0  15.0
xy2bar  20000.0    NaN  NaN  NaN    7.929  2.080619  0.0  7.0  8.0   9.0  15.0
xedge   20000.0    NaN  NaN  NaN   3.0461  2.332541  0.0  1.0  3.0   4.0  15.0
xedgey  20000.0    NaN  NaN  NaN  8.33885  1.546722  0.0  8.0  8.0   9.0  15.0
yedge   20000.0    NaN  NaN  NaN  3.69175  2.567073  0.0  2.0  3.0   5.0  15.0
yedgex  20000.0    NaN  NaN  NaN   7.8012   1.61747  0.0  7.0  8.0   9.0  15.0