In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

df=pd.read_csv(r"./data/Alphabets_data.csv")
df.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [3]:
df.nunique()

letter    26
xbox      16
ybox      16
width     16
height    16
onpix     16
xbar      16
ybar      16
x2bar     16
y2bar     16
xybar     16
x2ybar    16
xy2bar    16
xedge     16
xedgey    16
yedge     16
yedgex    16
dtype: int64

In [4]:
df.isnull().sum()

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [5]:
df.describe(include='all').T

          count unique  top freq     mean       std  min  25%  50%   75%   max
letter    20000     26    U  813      NaN       NaN  NaN  NaN  NaN   NaN   NaN
xbox    20000.0    NaN  NaN  NaN  4.02355  1.913212  0.0  3.0  4.0   5.0  15.0
ybox    20000.0    NaN  NaN  NaN   7.0355  3.304555  0.0  5.0  7.0   9.0  15.0
width   20000.0    NaN  NaN  NaN  5.12185  2.014573  0.0  4.0  5.0   6.0  15.0
height  20000.0    NaN  NaN  NaN  5.37245   2.26139  0.0  4.0  6.0   7.0  15.0
onpix   20000.0    NaN  NaN  NaN  3.50585  2.190458  0.0  2.0  3.0   5.0  15.0
xbar    20000.0    NaN  NaN  NaN   6.8976  2.026035  0.0  6.0  7.0   8.0  15.0
ybar    20000.0    NaN  NaN  NaN  7.50045  2.325354  0.0  6.0  7.0   9.0  15.0
x2bar   20000.0    NaN  NaN  NaN   4.6286  2.699968  0.0  3.0  4.0   6.0  15.0
y2bar   20000.0    NaN  NaN  NaN  5.17865  2.380823  0.0  4.0  5.0   7.0  15.0
xybar   20000.0    NaN  NaN  NaN  8.28205  2.488475  0.0  7.0  8.0  10.0  15.0
x2ybar  20000.0    NaN  NaN  NaN    6.454   2.63107  0.0  5.0  6.0   8.0  15.0
xy2bar  20000.0    NaN  NaN  NaN    7.929  2.080619  0.0  7.0  8.0   9.0  15.0
xedge   20000.0    NaN  NaN  NaN   3.0461  2.332541  0.0  1.0  3.0   4.0  15.0
xedgey  20000.0    NaN  NaN  NaN  8.33885  1.546722  0.0  8.0  8.0   9.0  15.0
yedge   20000.0    NaN  NaN  NaN  3.69175  2.567073  0.0  2.0  3.0   5.0  15.0
yedgex  20000.0    NaN  NaN  NaN   7.8012   1.61747  0.0  7.0  8.0   9.0  15.0

In [13]:
# Preprocessing
X = df.drop('letter', axis=1)
y = df['letter']

# Encode the alphabet letters (A-Z) into numbers (0-25)
le = LabelEncoder()
y_encoded = le.fit_transform(y)

# Normalize features (Crucial for ANN convergence)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split data (80% Train, 20% Test)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_encoded, test_size=0.2, random_state=42)

### Model Implementation (Baseline)
We start with a basic ANN using TensorFlow/Keras. This model uses one hidden layer with 64 neurons and the 'ReLU' activation function.

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Construct a basic ANN
baseline_model = Sequential([
    Dense(64, activation='relu', input_shape=(16,)), # Hidden Layer 1
    Dense(26, activation='softmax')                 # Output Layer (26 classes)
])

# Compile
baseline_model.compile(optimizer='adam',
                       loss='sparse_categorical_crossentropy',
                       metrics=['accuracy']
                      )

# Train
baseline_model.fit(X_train, y_train, epochs=20, batch_size=32, verbose=0)

C:\Users\snjvm\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [25]:
from sklearn.metrics import classification_report

y_pred = np.argmax(baseline_model.predict(X_test), axis=1)
print(classification_report(y_test, y_pred, target_names=le.classes_))

125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
              precision    recall  f1-score   support

           A       0.97      0.95      0.96       149
           B       0.87      0.91      0.89       153
           C       0.95      0.89      0.92       137
           D       0.84      0.89      0.87       156
           E       0.89      0.91      0.90       141
           F       0.92      0.87      0.89       140
           G       0.92      0.92      0.92       160
           H       0.81      0.76      0.78       144
           I       0.97      0.88      0.92       146
           J       0.92      0.97      0.94       149
           K       0.85      0.89      0.87       130
           L       0.97      0.92      0.94       155
           M       0.94      0.96      0.95       168
           N       0.94      0.93      0.94       151
           O       0.95      0.88      0.91       145
           P       0.91      0.93      0.92       173
           Q       0.95      0.96      0.95       166
           R       0.81      0.88      0.84       160
           S       0.91      0.92      0.92       171
           T       0.97      0.93      0.95       163
           U       0.95      0.93      0.94       183
           V       0.98      0.93      0.95       158
           W       0.95      0.97      0.96       148
           X       0.90      0.95      0.93       154
           Y       0.94      0.96      0.95       168
           Z       0.94      0.96      0.95       132

    accuracy                           0.92      4000
   macro avg       0.92      0.92      0.92      4000
weighted avg       0.92      0.92      0.92      4000

### Hyperparameter Tuning
To improve performance, we experiment with the architecture. By adding a second hidden layer and increasing the number of neurons, we allow the network to learn more complex relationships between the features.

In [21]:
# Implementing the Tuned Model
tuned_model = Sequential([
    Dense(128, activation='relu', input_shape=(16,)), # Increased neurons
    Dense(64, activation='relu'),                    # Added second layer
    Dense(26, activation='softmax')
])

tuned_model.compile(optimizer='adam', 
                    loss='sparse_categorical_crossentropy', 
                    metrics=['accuracy'])

tuned_model.fit(X_train, y_train, epochs=30, batch_size=32, verbose=0)

In [23]:
from sklearn.metrics import classification_report

y_pred = np.argmax(tuned_model.predict(X_test), axis=1)
print(classification_report(y_test, y_pred, target_names=le.classes_))

125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
              precision    recall  f1-score   support

           A       0.99      0.97      0.98       149
           B       0.94      0.97      0.95       153
           C       0.96      0.94      0.95       137
           D       0.94      0.95      0.94       156
           E       0.92      0.97      0.94       141
           F       0.97      0.94      0.95       140
           G       0.96      0.94      0.95       160
           H       0.93      0.91      0.92       144
           I       0.98      0.97      0.98       146
           J       0.97      0.97      0.97       149
           K       0.90      0.95      0.93       130
           L       0.98      0.97      0.97       155
           M       0.98      0.97      0.97       168
           N       0.98      0.96      0.97       151
           O       0.94      0.94      0.94       145
           P       0.96      0.99      0.97       173
           Q       0.97      0.98      0.97       166
           R       0.91      0.91      0.91       160
           S       1.00      0.97      0.99       171
           T       0.97      0.97      0.97       163
           U       0.94      0.98      0.96       183
           V       0.99      0.96      0.97       158
           W       0.99      0.97      0.98       148
           X       0.98      0.98      0.98       154
           Y       0.99      0.98      0.99       168
           Z       0.96      0.96      0.96       132

    accuracy                           0.96      4000
   macro avg       0.96      0.96      0.96      4000
weighted avg       0.96      0.96      0.96      4000

### Evaluation and Discussion
The jump in performance is significant. By increasing the model's "capacity" (more layers and neurons), we moved from 92% to 96% accuracy.

Effect of Scaling: Without StandardScaler, the model would train much slower and likely get stuck at a lower accuracy.

Activation Functions: 'ReLU' (Rectified Linear Unit) was used for hidden layers because it prevents the "vanishing gradient" problem, allowing deeper networks to learn efficiently. 'Softmax' was used for the output to provide a probability distribution across the 26 possible letters.